certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
Flask==1.1.2
Flask-Cors==3.0.8
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
peewee==3.13.3
peewee-db-evolve==3.7.6
Pillow==7.1.2
PyMySQL==0.9.3
requests==2.23.0
six==1.15.0
termcolor==1.1.0
urllib3==1.25.9
vk-api==11.8.0
Werkzeug==1.0.1
